<html>
    <head>
        <meta charset="utf-8">
        <title Test User Form></title>
    </head>
    <body>
        <h1>Test Test Test</h1>
        <form method=post action="">
            <table>
                {% for f in form_fields %}
                    <tr>
                        <td>{{ f.name }}</td>
                        <td>{{ f }}</td>
                    </tr>
                {% endfor %}
            </table>
            <input type="submit", value="submit">
        </form>
    </body>
</html>